:root {
    --yellow: #B4B4A6;
    --green: #577146;
    --white: white;
    --brown: #764934;
}

body {
    background-color: grey;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Container relative to allow for absolute positioning of h3's */

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

/* Places headings on the top left of the image/div */

.topleft {
    position: absolute;
    left: 1rem;
    top: 0;
    background-color: var(--green);
    color:  var(--white);
    border: 1mm ridge var(--brown);
}

img {
    width: 100%;
    height: auto;
    padding: 0;
    border: 2mm ridge var(--yellow);
}

.Logo {
    height: 400px;
    max-width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    background-image: url("../images/laughingfox.png");
    background-size: 80rem 40rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 2mm ridge black;
    background-color: rgba(0, 0, 0, 0.425);
    opacity: 1;
}

header {
    background-color: var(--green);
    color: var(--yellow);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 4mm ridge var(--brown);
}

.TextColor {
    color: #98793F;
}

header h1 {
    display: inline-block;
    font-size: 3rem;
}


section {
    position: relative;
    display: block;
    width: 100%;
}

section ul li a:hover {
    color: #764934;
    background-color: white;
    border-radius: 10px;
}


section div a:hover {
    text-decoration: none;
    background-color: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* On hover list links background colour and colour change to white and brown respectively */

header nav ul li a:hover {
    color: #764934;
    background-color: white;
    border-radius: 10px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;  
    color: var(--yellow);
}

header nav ul{
    list-style: none;
    display: block;

}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 1.5rem;
    border: 2mm ridge var(--yellow);
}

p {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
    font-size: 1.5rem;
    border: 2mm ridge var(--yellow);
    margin: 2rem 2rem; 
}

h2 {
    color: var(--yellow);
    background-color: var(--green);
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    border: 4mm ridge var(--brown);
    margin-left: 1rem;
    margin-right: 1rem;
}

.contacts ul {
    list-style: none;
    margin: 2rem 2rem; 
    border: 2mm ridge var(--yellow);
}

.contacts ul li {
    display: inline-block;
    padding: 2rem;
}

img:hover {
    border: 2mm ridge var(--brown);
}


/* MEDIA TAGS */

@media screen and (max-width: 1060px) {
    header {
        padding: 20px 20px 200px 20px;
    }
    header h1 {
        margin-left: 18rem;
        margin-right: 15rem;
    }
    header nav {
        float: left;
        margin-left: 13rem;
        margin-right: 13rem;
    }
}

@media screen and (max-width: 1042px) {
    header {
        padding: 20px 20px 300px 20px;
    }
    header h1 {
        margin: 0;
    }
    header nav {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }
    header nav ul {
        display: grid;
    }
}

@media screen and (max-width: 723px) {
    header {
        padding: 20px 20px 350px 20px;
    }
}